
Missing-Person/bin/Debug/net7.0/runtimes/centos-x64/native/libDlibDotNetNativeDnn.so
Missing-Person/.vs/Missing-Person/FileContentIndex/9cac8cea-ba7f-441e-beae-fb857961070a.vsidx
Missing-Person/obj/Debug/net7.0/_IsIncrementalBuild
