@model Missing_Person.Models.MissingPerson

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .search-heading {
        margin-bottom: 40px;
    }

    .search-option {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

        .search-option label {
            margin-right: 20px;
            font-weight: bold;
        }

    .form-control-file {
        margin-top: 10px;
    }

    .search-submit {
        width: 200px;
        margin-top: 10px;
    }
</style>

<div class="text-center search-heading">
    <h1 class="display-4">Search</h1>
</div>

<form asp-action="Search" asp-controller="MissingPerson" method="post" class="mt-3" enctype="multipart/form-data">
    <div class="form-group row justify-content-center search-option">
        <div class="col-sm-10 justify-content-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="SearchOption" id="searchByName" value="ByName" checked>
                <label class="form-check-label" for="searchByName">Search by Name</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="SearchOption" id="searchByImage" value="ByImage">
                <label class="form-check-label" for="searchByImage">Search by Image</label>
            </div>
        </div>
    </div>

    <div id="nameSearch" class="form-group row justify-content-center">
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div id="imageSearch" class="form-group row justify-content-center" style="display: none;">
        <div class="col-sm-10">
            <input asp-for="ImagePath" type="file" class="form-control-file" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row justify-content-center">
        <div class="col-sm-10">
            <input type="submit" value="Search" class="btn btn-primary mb-2 d-block mx-auto search-submit" />
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('input[name="SearchOption"]').change(function () {
                var selectedOption = $('input[name="SearchOption"]:checked').val();
                if (selectedOption === "ByImage") {
                    $('#imageSearch').show();
                    $('#nameSearch').hide();
                } else {
                    $('#imageSearch').hide();
                    $('#nameSearch').show();
                }
            });
        });
    </script>
}
