@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Missing Person</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Missing_Person.styles.css" asp-append-version="true" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Missing Person</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Search</a>
                        </li>                    
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MissingPerson" asp-action="Register">Report Missing Person</a>
                            </li>
                        }
                                      
                    </ul>

                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            var user = await userManager.GetUserAsync(User);
                            var role = await userManager.GetRolesAsync(user);
                            
                            @if (role.Contains("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="UserRoleManager" asp-action="Statistic">Statistical Data</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dashboard
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="DisplayAll">List all Users</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="MissingPerson" asp-action="DisplayAll">List all Missing People</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="UserRoleManager" asp-action="CreateRole">Add Role</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="UserRoleManager" asp-action="ListRole">List Role</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="UserRoleManager" asp-action="EditUsersInRole">Assign Role</a>
                                    </div>
                                </li>
                            }

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="MissingPerson" asp-action="Register">Register-MP</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="MissingPerson" asp-action="MyPost">My Post</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="MyProfile">Profile</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </div>
                            </li>


                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Missing Person - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dropdownToggles = document.querySelectorAll(".dropdown-toggle");
        var dropdownMenus = document.querySelectorAll(".dropdown-menu");

        dropdownToggles.forEach(function (toggle, index) {
            toggle.addEventListener("click", function () {
                dropdownMenus[index].classList.toggle("show");
            });
        });
    });
</script>