@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Error</h1>
            <p class="lead">Try again</p>
            <p class="text-muted">Possible reasons for this error:</p>
            <ul style="list-style-position: inside; text-align: left;">
                <li>Make sure you added the image again when editing your post</li>
                <li>You did not fill the form properly</li>
                <li>You have entered an incorrect URL</li>
                <li>The page you are looking for has been moved or deleted</li>
                <li>You do not have access to this page</li>
            </ul>
        </div>
    </div>
</div>
