@model Missing_Person.Models.MissingPerson

@{
    ViewData["Title"] = "Create";
}

<h4>Missing Person Registration</h4>
<hr />

<form asp-action="Create" asp-controller="MissingPerson" method="post" class="mt-3" enctype="multipart/form-data">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" class="form-control mb-2" disabled />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control mb-2" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ImagePath" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ImagePath" type="file" class="form-control-file" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea asp-for="Description" class="form-control mb-2"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Last_Location" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Last_Location" class="form-control mb-2" />
            <span asp-validation-for="Last_Location" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Contact" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Contact" class="form-control mb-2" />
            <span asp-validation-for="Contact" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Status" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Status" class="form-control mb-2" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Missing_Date" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Missing_Date" class="form-control mb-2" />
            <span asp-validation-for="Missing_Date" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary mb-2" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
