@model Missing_Person.ViewModel.DisplayAllViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@{
    Layout = "_Layout";
}

<style>
    .search-result-heading {
        margin-bottom: 30px;
    }

    .no-result-message {
        margin-top: 20px;
    }

    .card {
        margin-bottom: 30px;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .card-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-text {
        margin-bottom: 15px;
    }

    .card-body .btn-primary {
        margin-top: 10px;
    }
</style>

<h3 class="display-3 search-result-heading">Search Result</h3>

<div class="row">
    @if (Model.MissingPeople.Count == 0)
    {
        <h4 class="no-result-message">No results found</h4>
    }
    @foreach (var missingPerson in Model.MissingPeople)
    {

        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/@missingPerson.ImageUrl" class="card-img-top" alt="Missing Person Image" sizes="150px">
                <div class="card-body">
                    <h5 class="card-title">@missingPerson.Name</h5>
                    <p class="card-text">@missingPerson.Description</p>
                    <a href="@Url.Action("Details", "MissingPerson", new { id = missingPerson.Id })" class="btn btn-primary">See Details</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var user = await userManager.GetUserAsync(User);
                        var role = await userManager.GetRolesAsync(user);
                    }
                </div>
            </div>
        </div>
    }
</div>
